section:first-of-type {
    text-align: center;
    padding: 5rem 2rem;
    background-color:rgb(109, 76, 56);
}
section:first-of-type h1 {
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
    margin-bottom: 1rem;
}
section:first-of-type p {
    color:rgb(228, 228, 228);
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
section:first-of-type a {
    background-color:rgb(175, 139, 98);
    color:black;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
}
section:first-of-type a:hover {
    background-color:black;
    color:aliceblue;
}
.T1_31902620019 {
    display: flex;
    align-item: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 1rem;
}
.PROMOCIONES-IMAGENES_31902620019 {
    margin-top: 1rem;
    border: 3px solid #000000;
}


.Promocional_31902620019 {
    display: flex;
    align-item: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 1rem; 
}
section:nth-of-type(2) {
    padding: 3rem 2rem;
    text-align: center;
}
section:nth-of-type(2) > div {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
section:nth-of-type(2) > div > div {
    background-color:rgb(175, 139, 98);
    border: 2px solid #ffffff;
    padding: 1.5rem;
    width: 280px
}
section:nth-of-type(2) h3 {
    color:rgb(70, 43, 27);
    margin-bottom: 0.75rem;
}
section:nth-of-type(2) p {
    color:black;
    font-size: 0.9rem;
}



section:nth-of-type(3) {
    padding: 3rem 2rem;
    text-align: center;
}
section:nth-of-type(3) h2 {
    color:rgb(0, 0, 0);
    margin-bottom: 2rem;
}
section:nth-of-type(3) > div {
    display: felx;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
section:nth-of-type(3) > div > div {
    background-color:rgb(175, 139, 98);
    border: 2px solid #ffffff;
    padding: 1.5rem;
    width: 400px;
    text-align: left;
}



@media (max-width: 768px) {
    section:first-of-type h1 {
        font-size: 1.5rem;
    }
    section:nth-of-type(2) > div {
        flex-direction: column;
        align-items: center;
    }  
    section:nth-of-type(2) > div > div {
        width: 100%;
    }
    section:nth-of-type(3) > div {
        flex-direction: column;
        align-items: center;
    }
    section:nth-of-type(3) > div > div {
        width: 100%;
    }
}
